<div class="card mb-0 bg-light">
  <nav class="navbar navbar-light bg-light">
    <form [formGroup]="searchForm" (ngSubmit)="searchByUsername()">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
          aria-describedby="basic-addon1" formControlName="username">
      </div>
    </form>
  </nav>
  <table class="table mb-0">
    <thead class="bg-light">
      <tr>
        <th>Username</th>
        <th>About</th>
        <th>Reviews</th>
        <th>Thropies</th>
        <th>Profile</th>
      </tr>
    </thead>
    <ng-container *ngIf="users else loading">
      <tbody>
        <tr *ngFor="let user of users | paginate : {
          itemsPerPage: page.size,
          currentPage: page.number + 1,
          totalItems: page.totalElements
        }; let i = index">
          <td>
            <div class="d-flex align-items-center py-md-4">
              <img src="https://mdbootstrap.com/img/new/avatars/{{i+1}}.jpg" alt="" style="width: 90px; height: 90px"
                class="rounded-circle" />
              <div class="ms-3">
                <p class="fw-bold mb-1 text-center" [ngSwitch]="user.userActivity">{{user.username}}
                  <span *ngSwitchCase="UserActivity.INACTIVE" class="badge bg-secondary rounded-pill">Inactive</span>
                  <span *ngSwitchCase="UserActivity.ACTIVE" class="badge bg-succes rounded-pill">Active</span>
                  <span *ngSwitchCase="UserActivity.VERY_ACTIVE" class="badge bg-danger rounded-pill">Very
                    Active</span>
                </p>
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1">{{user.bio}}</p>
          </td>
          <td>
            <div class="d-flex justify-content-center pt-md-1 pe-md-3">
              <a [routerLink]="[user.username, 'reviews']"
                class="position-relative pt-md-2 link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-primary">{{user.reviewCount}}
                </span>
                Reviews
              </a>
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-center pt-md-1 pe-md-3">
              <a [routerLink]="[user.username, 'thropies']"
                class="position-relative pt-md-2 link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-primary">{{user.reviewCount}}
                </span>
                Trophies
              </a>
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-center pt-md-1 pe-md-3">
              <a [routerLink]="[user.username]"
                class="pt-md-2 link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                Profile
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </ng-container>

  </table>
  <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
    (pageChange)="handlePageChange($event)"></pagination-controls>
</div>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>